body {
  align-items: center;
  background: #6e28d9;
  color: white;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0 24px;
}

a,
a:link,
a:hover,
a:visited {
  color: white;
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: 20rem 10rem;
  grid-template-rows: 50% 50%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "cta names"
    "result names";
}

.container > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cta {
  grid-area: cta;
}

.result {
  grid-area: result;
}

.names {
  grid-area: names;
}

.cta button {
  background: -moz-linear-gradient(top, #ff5db1 0%, #ef017c 100%);
  background: -webkit-linear-gradient(top, #ff5db1 0%, #ef017c 100%);
  background: #ff5db1;
  background: linear-gradient(to bottom, #ff5db1 0%, #ef017c 100%);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: larger;
  height: 4rem;
  padding: 0.5rem 1rem;
  width: 14rem;
}

.result div:last-child {
  font-size: xx-large;
  font-weight: bold;
  margin-top: 1rem;
}

.names ul {
  padding: 0;
}

.names ul li {
  list-style: none;
}

.names ul li a {
  padding-right: 10px;
}
