body {
  background: #6e28d9;
  padding: 0 24px;
  margin: 0;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: grid;
  grid-template-columns: 10rem 10rem;
  grid-template-rows: 50% 50%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "cta names"
    "result names";
}

.cta {
  grid-area: cta;
}

.result {
  grid-area: result;
}

.names {
  grid-area: names;
}

.cta button {
  background: #ff5db1;
  background: -moz-linear-gradient(top, #ff5db1 0%, #ef017c 100%);
  background: -webkit-linear-gradient(top, #ff5db1 0%, #ef017c 100%);
  background: linear-gradient(to bottom, #ff5db1 0%, #ef017c 100%);
  border: 0;
  color: #fff;
  font-size: larger;
  padding: 0.5rem;
  cursor: pointer;
}

.result strong {
  font-size: xx-large;
}
