body {
  align-items: center;
  background: #6e28d9;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  margin: 0;
  padding: 3rem;
}

a,
a:link,
a:hover,
a:visited {
  color: white;
  text-decoration: none;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cta {
  text-align: center;
}

.cta button {
  background: -moz-linear-gradient(top, #ff5db1 0%, #ef017c 100%);
  background: -webkit-linear-gradient(top, #ff5db1 0%, #ef017c 100%);
  background: #ff5db1;
  background: linear-gradient(to bottom, #ff5db1 0%, #ef017c 100%);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: larger;
  height: 4rem;
  padding: 0.5rem 1rem;
  width: 14rem;
}

.result {
  height: 3rem;
  margin: 1rem 0;
  text-align: center;
}

.result div:last-child {
  font-size: xx-large;
  font-weight: bold;
}

.names {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
  width: fit-content;
}

.names > div {
  align-content: center;
  align-items: center;
  display: flex;
  margin: 0 1rem;
  width: max-content;
}

.names > div > div:first-child {
  font-size: 22px;
}

.names > div > div {
  margin-right: 0.25rem;
}

.names > div > div img {
  height: 14px;
  width: 14px;
}

.footer {
  text-align: center;
  font-size: small;
  margin-top: 3rem;
}

.footer a {
  text-decoration: underline;
}
